* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #F6F6F6;
}

header {
  height:
  width: 100%;
  padding: 1rem;
}

footer {
  background-color: #4D4D4D;
  text-align: center;
}

h1, h2 {
  color: #333;
  font-family: 'Libre Baskerville', Times, serif;
  line-height: 200%;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

h5, h6, p, a {
  color: #333;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 200%;
  text-align: left;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h5 {
  font-size: 2rem;
  font-weight: 700;
}

a {
  display: inline-block;
  font-weight: 700;
  text-align: center;
}

/* Hompage CSS */
.home, .persona_bg {
  background-image: url('../images/homepage/mobile_bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 1.5rem;
    padding: 1.5rem;
    text-align: center;
}

.top_module {
  grid-column: 2;
  justify-content: center;
}

.home_card {
  grid-column: 1 / span 3;
}

.logo_lg {
  text-align: center;
}

.subhead {
  grid-column: 1 / span 3;
  text-align: left;
}

.home_card, .prj_card {
  background-color: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  width: 100%;
}

.home_card img, .frame img, .persona img, .profile img {
  width: 100%;
}

.home_card h2 {
  font-weight: normal;
  letter-spacing: 0.3rem;
  margin: 3rem 0 1.5rem;
  text-transform: uppercase;
}

.home_card h5 {
  text-align: center;
}

.home_card p {
  padding: 0 1.5rem;
}

.home_card a {
  background-color: #4D4D4D;
  border-radius: .3rem;
  color: #F6F6F6;
  margin-top: 2rem;
  padding: .3rem 0 .3rem;
  width: 16.5rem;
}

.contacts {
  /* background-color: #4D4D4D; */
  margin-top: -1rem;
  padding: 1.5rem 1.5rem 3rem;
  text-align: center;
}

.contacts h2, .contacts p {
  color: #F6F6F6;
}

.social {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.media {
  height: 3rem;
  width: 3rem;
  margin: .75rem;
}

footer p {
  font-weight: 400;
  padding: .75rem 0;
  text-align: center;
}

.credits {
  background-color: #F6F6F6;
}
/* dropdown mobile menu script */
/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

.logo, #main-menu-checkbox {
  display: none;
}

.main-menu {
  position: absolute;
  left: 0;
  top: -40rem;
  height: 20rem;
  width: 100%;
	transition: top 0.3s ease,
				      box-shadow 0.3s ease;
	z-index: 999;
}

.menu-close {
  margin-top: 5%;
  margin-right: 5%;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 3em 0 2em; */
  -webkit-box-shadow: 0px 8px 4px rgba(0,0,0,.25);
     -moz-box-shadow: 0px 8px 4px rgba(0,0,0,.25);
          box-shadow: 0px 8px 4px rgba(0,0,0,.25);
  min-height: 100%;
  background: #f6f6f6;
}

.main-menu a {
  color: #333;
  display: block;
  font-family: 'Libre Baskerville', Times, serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 3rem;
  padding: .75em 15px;
  /* text-align: center; */
}

.menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

#main-menu-checkbox:checked ~ .main-menu {
  top: 0;
}

/* End of menu script */
.night {
  background-color: #4D4D4D;
}

.night p, .night h5, .night h2 {
  color: #F6F6F6;
}

.prj_container {
  display: grid;
  grid-template-rows: auto;
  margin-top: -1rem;
  width: 100%;
}

.stage {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-gap: 1.5rem;
  margin-top: 3rem;
  padding: 3rem 1.5rem 3rem;
  width: 100%;
}

.sec_head {
  display: flex;
  grid-column: 1 / span 4;
  justify-content: space-around;
}

.sec_head h5 {
  padding: 0;
}

.stage p {
  grid-column: 1 / span 4;
  padding-bottom: 1.5rem;
}

.line_btn {
  border: 3px #333 solid;
  font-weight: 900;
  grid-column: 2 / span 2;
  text-align: center;
  width: 100%;
}

.light_btn {
  background-color: #F6F6F6;
  display: inline-block;
  font-weight: 700;
  grid-column: 2 / span 2;
  text-align: center;
  width: 100%;
}

.dark_btn {
  color: #F6F6F6;
  background-color: #333;
  display: inline-block;
  font-weight: 700;
  grid-column: 2 / span 2;
  text-align: center;
  width: 100%;
}

.full, .banner {
  grid-column: 1 / span 4;
  margin: -1.5rem -1.5rem 0;
}

.half {
  grid-column: 1 / span 2;
}

.later {
  grid-column: 3 / span 2;
}

.overview {
  margin-top: -1rem;
}
.tab_title {
  font-weight: 900;
  padding-top: 1.5rem;
  text-align: center;
}

.pdt_name, .product {
  grid-column: 1 / span 4;
  letter-spacing: .5rem;
  margin: 0;
  text-align: center;
}

.pdt_name {
  color: #F6F6F6;
  font-weight: 400;
}

.product {
  font-weight: 900;
  padding-bottom: 3rem;
}

.feat {
  display: flex;
  justify-content: space-around;
  grid-column: 1 / span 4;
  padding-left: 1.5rem;
}

.key {
  padding-left: 3rem;
}

.num {
  font-size: 2.5rem;
  font-weight: 900;
}

.prj_card {
  grid-column: 1 / span 4;
}

.prj_card p {
  color: #333;
  text-align: center;
  margin: 0;
  padding: 1.5rem 3rem 0;
}

.pf_strong {
  font-weight: 900;
}

.flow {
  display: flex;
  grid-column: 1 / span 4;
  justify-content: space-between;
}

.flow p {
  padding: 0;
}

.large_img {
  display: none;
}

.mobile_img {
  padding-bottom: 1.5rem;
}

.bulletpoint {
  grid-column: 2 / span 2;
  justify-self: center;
}

.profile {
  grid-column: 1 / span 4;
  margin-top: 5rem;
}

@media screen and (min-width: 767px) {
  .container {
    grid-template-columns: repeat(4, 3fr);
  }

  .top_module {
    grid-column: 2 / span 2;
  }

  .home_card {
    display: grid;
    grid-column: 1 / span 4;
    grid-template-columns: repeat(4, 3fr);
    padding: 0;
  }

  .home_card img {
    grid-column: 1 / span 2;
  }

  .home_card h2 {
    margin-top: 0;
  }

  .text {
    align-self: center;
    grid-column: 3 / span 2;
    text-align: center;
  }

  .light_btn, .line_btn, .dark_btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column: 2 / span 2;
    justify-self: center;
    margin: 2rem 0;
    padding: 1.5rem 0;
    text-align: center;
    width: 22.5rem;
  }

  .stage p, .stage h5, .sec_head, .full {
    grid-column: 2 / span 2;
  }

  .stat {
    background-color: #FFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    grid-column: 2;
    padding: 1.5rem;
    text-align: center;
  }

  .key, .num {
    padding: 0;
    text-align: center;
  }

  .later {
    grid-column: 3;
  }

  .half {
    grid-column: 2;
  }

  .task {
    grid-column: 2 / span 2;
    padding: 0 0 1rem;
  }

  .task h6 {
    padding-left: 1.5rem;
  }

  .mobile_img {
    display: none;
  }

  .large_img {
    display: block;
  }

  .profile {
    grid-column: 2 / span 2;
  }

}

@media screen and (min-width: 1199px) {

/*hamburger menu to nav bar*/
  .logo {
    display: inline-block;
    flex-grow: 10;
    text-align: left;
  }

  .nav_links {
    flex-grow: 1.5;
  }

  .menu-toggle, .menu-close {
    display: none;
  }

  .main-menu {
    position: relative;
		left: 0;
		top: auto;
		height: auto;
    display: block;
    margin-bottom: 1rem;
  }

  .main-menu ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 6rem;
    justify-content: space-between;
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: 117rem;
    margin: 0 auto;
  }

  .main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
    margin: 0;
    padding: 0;
  }
  /*end of menu fix*/

  footer {
    margin-top: 5rem;
  }

  .home {
    background-image: none;
  }

  .container {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3rem;
    margin: 0 auto;
    width: 117rem;
  }

  .contacts {
    margin: 0 auto;
    width: 77rem;
  }

  .top_module {
    grid-column: 4 / span 6;
  }

  .subhead {
    grid-column: 1 / span 2;
  }

  .home_prj {
    grid-column: 1 / span 8;
  }

  .dribble {
    grid-column: 5 / span 8;
  }

  .about {
    grid-column: 1 / span 2;
    grid-row: 5;
    justify-self: center;
  }

  .bio {
    grid-column: 2 / span 8;
  }

  header.night {
    background-color: #F6F6F6;
    padding-bottom: 0;
  }

  .stage {
    grid-template-columns: repeat(4, 27rem);
    justify-content: center;
    margin: 0 auto;
  }

  .overview {
    padding-top: 5rem;
  }

  .prj_card {
    display: flex;
    grid-column: 1 / span 4;
    justify-content: space-around;
  }

  .persona {
    flex-grow: 2;
    margin: 1.5rem;
  }

  .persona img {
    border: 3px solid #ECC700;
  }

  .persona_prof p {
    /* flex-grow: 6; */
    text-align: left;
  }

}
